Prac/EAPPracClient/EAPPracClient/Service References/ServiceReference1/PracticeServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PracticeServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57349/PracticeServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57349/PracticeServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57349/PracticeServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EAPPracServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPracticeServices_setStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:setStudent" />
  </wsdl:message>
  <wsdl:message name="IPracticeServices_setStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:setStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IPracticeServices_getAllStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStudent" />
  </wsdl:message>
  <wsdl:message name="IPracticeServices_getAllStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IPracticeServices">
    <wsdl:operation name="setStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeServices/setStudent" message="tns:IPracticeServices_setStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeServices/setStudentResponse" message="tns:IPracticeServices_setStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IPracticeServices/getAllStudent" message="tns:IPracticeServices_getAllStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPracticeServices/getAllStudentResponse" message="tns:IPracticeServices_getAllStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPracticeServices" type="tns:IPracticeServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setStudent">
      <soap:operation soapAction="http://tempuri.org/IPracticeServices/setStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStudent">
      <soap:operation soapAction="http://tempuri.org/IPracticeServices/getAllStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PracticeServices">
    <wsdl:port name="BasicHttpBinding_IPracticeServices" binding="tns:BasicHttpBinding_IPracticeServices">
      <soap:address location="http://localhost:57349/PracticeServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>